* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

header h1 {
    font-size: 24px;
    font-weight: 900;
}

.links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 32px;
}

.links,
.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.one {
    display: flex;
    padding: 16px 120px;
    background-color: #1F2937;
    color: white;
    align-items: center;
    gap: 32px;
    height: 300px;
    justify-content: space-around;
}

.content {
    width: 400px;
    flex-shrink: 0;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 8px;
}

.one p {
    margin-bottom: 8px
}

.one button {
    background-color: #3882F6;
    color: white;
    padding: 6px 24px;
    border-radius: 8px;
    border: 0;
    margin-bottom: 8px;
}

.one img {
    border-radius: 8px;
}

.two {
    display: flex;
    flex-direction: column;
    padding: 16px 120px;
}

.two h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 32px;
    text-align: center;
}

.images {
    display: flex;
    flex: 1;
    justify-content: space-around;
    gap: 32px
}

.image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #1F2937;
    margin-bottom: 32px;
}

.image {
    display: flex;
    width: 125px;
    height: 125px;
    justify-content: center;
    align-items: center;
    border: 2px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 16px;
}

.image-text p {
    width: 125px;
    font-size: 16px;
}

.three {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 64px 120px;
    align-items: center;
}

.three p{
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    width: 600px;
}

.three div {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    width: 600px;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #3882F6;
    border: 0;
    border-radius: 4px;
    color: #F9FAF8;
    padding: 32px 64px;
    margin: 60px 120px;
    display: flex;
    justify-content: space-around;
    gap: 32px;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
}

.box div {
    flex-shrink: 0;
}

.box button {
    background-color: #3882F6;
    border: 2px;
    border-style: solid;
    border-radius: 8px;
    border-color: #F9FAF8;
    color: #F9FAF8;
    padding: 8px 32px;
    flex-shrink: 0;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 120px;
}

footer div {
    flex-shrink: 0;
}